*{
    margin: 0;
    padding: 0;
    font-family: 'poppons',sans-serif;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width:90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display i {
    width: 100px;
  cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button i{
    width: 50px;
    margin-right: 10px;
}
.container button{
    width:40%;
    height: 60px;
    border: 0;
    outline: 0;
    background: #01b05e;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
}